@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Status</th>
                <th scope="col">Created date</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userInfo in Model.listUsers)
            {
                <tr>
                    <td>@userInfo.User_name</td>
                    <td>@userInfo.User_email</td>
                    <td>@userInfo.User_age</td>
                    <td>@userInfo.User_sex</td>
                    @if (userInfo.User_is_engaged) {
                        <td> Engaged</td>
                    }else {
                        <td> Single</td>
                    }
                    <td>@userInfo.Created_date</td>
                    <td><a class="btn btn-primary" href="/EditUser?id=@userInfo.User_id">Edit</a></td>
                    <td><a class="btn btn-danger" href="/DeleteUser?id=@userInfo.User_id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}

@if(Model.rowsCount > 10) {
    double pagesNum = Math.Ceiling((double)Model.rowsCount / Model.portionSize);
    <nav>
        <ul class="pagination">
            @if (Model.currentPage > 1)
            {
                int prevPage = Model.currentPage - 1;
                <li class="page-item"><a class="page-link" href="/Home?page=@prevPage">Previous</a></li>
            }

            @for (var i = 1; i <= pagesNum; i++)
            {
                if(Model.currentPage == i) {
                    <li class="page-item active"><a class="page-link" href="/Home?page=@i">@i</a></li>
                }else {
                    <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
                }
               
            }
            @if(Model.currentPage < pagesNum) {
                int nextPage = Model.currentPage + 1;
                <li class="page-item"><a class="page-link" href="/Home?page=@nextPage">Next</a></li>
            }
           
        </ul>
    </nav>
}
